#myChart {
  display: block;
  margin: 20px auto;
  padding: 10px;
  max-width: 1000px;
  height: 375px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
